<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="shortcut icon" href="images/icon/transparent_white.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/definitions.css">
    <link rel="stylesheet" href="styles/contact.css">
</head>
<body>
    <!--Navbar Start-->
    <header>
        <nav class="nav">
          <input type="checkbox" id="nav-check">
          <div class="nav-header">
            <div class="nav-title">
              <a class="logo" href="#"><img width="100px" height="60px" src="images/logo/transparent_white.png" alt="logo"></a>
            </div>
          </div>
          <div class="nav-btn">
            <label for="nav-check">
              <span></span>
              <span></span>
              <span></span>
            </label>
          </div>
          
          <div class="nav-links">
            <a href="index.html">Home</a>
            <a href="index.html#features">Features</a>
            <a href="about.html">About Us</a>
            <a href="contact.html">Contact Us</a>
            <a href="index.html#faq">FAQs</a>
            <a href="login.html">Sign In</a>
            <a class="register-anchor" href="register.html"><button class="register-btn btn">Register Now</button></a>
          </div>
      </nav>
    </header>
      <!--Navbar End-->
  
      <section>
        
        <div class="contact-container">
            <div class="contact-details bounce-in-left">
                <h2>Contact Us</h2>
                <div class="contact-child">
                   <div class="icon-container">
                        <img src="images/placeholder.png"  class="icon" alt="pin">
                        <h4 class="center">Address</h4> 
                   </div>
                   <p>Razi Hostel, Block 2, Nust H12, Islamabad</p>
                </div>
                <div class="contact-child">
                    <div class="icon-container">
                        <img src="images/telephone.png"  class="icon" alt="">
                        <h4 class="center">Phone</h4> 
                    </div>
                    
                   <p>+92-322-8872242</p>
                </div>
                <div class="contact-child">
                    <div class="icon-container">
                        <img src="images/email.png"  class="icon" alt="">
                        <h4 class="center">Email</h4> 
                    </div>
                    
                   <p>support@aquexpress.com</p>
                </div>
            </div>

            <div class="contact-form bounce-in-right">
                <h2>Send Us a Message</h2>
                <form>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required>
    
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
    
                    <label for="message">Message</label>
                    <textarea id="message" name="message" rows="4" required></textarea>
    
                    <button class="btn" type="submit">Send</button>
                </form>
            </div>
        </div>
      </section>
  
  
      <!--Footer Start-->
      <footer class="footer-distributed">
  
        <div class="footer-left">
          <div class="logo">
            <img width="100px" height="60px" src="images/logo/transparent_white.png" alt="logo">
          </div>
          <p class="footer-links">
            <a href="index.html" class="link-1">Home</a>
            <a href="index.html#features">Features</a>
            <a href="about.html">About Us</a>
            <a href="contact.html">ContactUs</a>
            <a href="index.html#faq">Faq</a>
            <a href="login.html">Sign In</a>
            <a href="register.html">Register Now</a>
          </p>
        </div>
  
        <div class="footer-center">
  
          <div class="footer-contact">
            <img src="images/placeholder.png"  class="icon" alt="">
            <p><span>Razi Hostel Block 2,</span> Nust, H12 Islamabad</p>
          </div>
  
          <div class="footer-contact">
            <img src="images/telephone.png"  class="icon" alt="">
            <p>+92-322-8872242</p>
          </div>
  
          <div class="footer-contact">
            <img src="images/email.png"  class="icon" alt="">
            <p><a href="mailto:rajafawady@gmail.com">support@aquexpress.com</a></p>
          </div>
  
        </div>
  
        <div class="footer-right">
  
          <p class="footer-company-about">
            <span>About the company</span>
            Our user-friendly platform offers hassle-free water delivery, designed for simplicity and efficiency. With personalized branding and a commitment to reliability, we're dedicated to taking responsibility for your water needs."
          </p>
  
          <div class="footer-icons">
  
            <a href="#"><img class="social-icon" src="images/linkedin.png" alt=""></a>
            <a href="#"><img class="social-icon" src="images/facebook.png" alt=""></a>
            <a href="#"><img class="social-icon" src="images/instagram.png" alt=""></a>
  
          </div>
  
        </div>
        
        <div class="footer-icons-mobile">
  
          <a href="#"><img class="social-icon" src="images/linkedin.png" alt=""></a>
          <a href="#"><img class="social-icon" src="images/facebook.png" alt=""></a>
          <a href="#"><img class="social-icon" src="images/instagram.png" alt=""></a>
  
        </div>
        <div class="center copyrights"><p class="footer-company-name white">AquExpress &copy; 2023</p></div>
      </footer>
      <!--footer ends-->
</body>
</html>