<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register-AquExpress</title>
    <link rel="shortcut icon" href="images/icon/transparent_white.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/register.css">
    <link rel="stylesheet" href="styles/definitions.css">
</head>
<body>
    <!--Navbar Start-->
    <header>
      <nav class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            <a class="logo" href="#"><img width="100px" height="60px" src="images/logo/transparent_white.png" alt="logo"></a>
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <div class="nav-links">
          <a href="index.html">Home</a>
          <a href="index.html#features">Features</a>
          <a href="about.html">About Us</a>
          <a href="contact.html">Contact Us</a>
          <a href="index.html#faq">FAQs</a>
          <a href="login.html">Sign In</a>
          <a class="register-anchor" href="register.html"><button class="register-btn btn">Register Now</button></a>
        </div>
    </nav>
  </header>
    <!--Navbar End-->


    <section>
    <div class="sign-up bounce-in-left" id="sign-up">
        <h2>Sign Up</h2>
          <form >
            <label for="name">Enter Name</label>
              <div class="input-icons">
                  <input class="input-field" 
                         type="text"
                         placeholder="Name" name="name" id="name">
              </div>
              <label for="phone">Phone No.</label>
              <div class="input-icons">
                  <input class="input-field" type="text" placeholder="+923XXXXXXXXX" id="phone" name="phone">
              </div>
              <label for="password">Password</label>
              <div class="input-icons">
                  <input class="input-field" 
                         type="password"
                         placeholder="*******" name="password" id="password">
              </div>
              <div class="center">
                <button class="btn" type="submit" name="submit">Sign Up</button>
              </div>
              
          </form>
          <div class="flex align-center">
            <h4>Already Have an Account?</h4>
            <a href="login.html">Sign In</a>
          </div>

          <p class="hr-lines">OR</p>

          <div class="sign-with-acc center">
            <button id="sign-with-acc" class="btn flex align-center"><img width="25px" src="images/google.png" alt="">Sign Up With Gmail</button>
          </div>
      </div>
    </section>

      <!--Footer Start-->
    <footer class="footer-distributed">

        <div class="footer-left">
          <div class="logo">
            <img width="100px" height="60px" src="images/logo/transparent_white.png" alt="logo">
          </div>
          <p class="footer-links">
            <a href="index.html" class="link-1">Home</a>
            <a href="index.html#features">Features</a>
            <a href="about.html">About Us</a>
            <a href="contact.html">ContactUs</a>
            <a href="index.html#faq">Faq</a>
            <a href="login.html">Sign In</a>
            <a href="register.html">Register Now</a>
          </p>
        </div>
  
        <div class="footer-center">
  
          <div class="footer-contact">
            <img src="images/placeholder.png"  class="icon" alt="">
            <p><span>Razi Hostel Block 2,</span> Nust, H12 Islamabad</p>
          </div>
  
          <div class="footer-contact">
            <img src="images/telephone.png"  class="icon" alt="">
            <p>+92-322-8872242</p>
          </div>
  
          <div class="footer-contact">
            <img src="images/email.png"  class="icon" alt="">
            <p><a href="mailto:rajafawady@gmail.com">support@aquexpress.com</a></p>
          </div>
  
        </div>
  
        <div class="footer-right">
  
          <p class="footer-company-about">
            <span>About the company</span>
            Our user-friendly platform offers hassle-free water delivery, designed for simplicity and efficiency. With personalized branding and a commitment to reliability, we're dedicated to taking responsibility for your water needs."
          </p>
  
          <div class="footer-icons">
  
            <a href="#"><img class="social-icon" src="images/linkedin.png" alt=""></a>
            <a href="#"><img class="social-icon" src="images/facebook.png" alt=""></a>
            <a href="#"><img class="social-icon" src="images/instagram.png" alt=""></a>
  
          </div>
  
        </div>
        <div class="center copyrights"><p class="footer-company-name white">AquExpress &copy; 2023</p></div>
      </footer>
      <!--footer ends-->
</body>
</html>