.center{
    text-align: center;
}
.right{
    text-align: right;
}
.white{
    color:white;
}
.black{
    color:black;
}
.flex{
    display: flex;
    flex-flow: row;
    column-gap: 10px;
}
.flex-col{
    display: flex;
    flex-flow: column;
}
.justify-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}
.purple{
    color:#352f44;
}
.lavender{
    color:#967bb6;
}

hr{
    width: 25%;
    height: 3px;
    color: #967bb6;
    background: #967bb6;
    border: none;
    margin-bottom: 2em;
    margin-top: 0;
}

.bounce-in-right {
    animation: bounce-in-right 2s ease;
  }
  .bounce-in-left {
    animation: bounce-in-left 2s ease;
  }


  @keyframes bounce-in-right {
    0% {
      opacity: 0;
      transform: translateX(2000px);
    }
    60% {
      opacity: 1;
      transform: translateX(-30px);
    }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }

  @keyframes bounce-in-left {
    0% {
      opacity: 0;
      transform: translateX(-2000px);
    }
    60% {
      opacity: 1;
      transform: translateX(30px);
    }
    80% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
  }