/*booking form*/
.book-heading {
    margin-top: 2em;
}

.order-container {
    background-image: url("../images/tank.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    padding: 2em;
}

.order-container .form {
    width: 100%;
    min-height: 60vh;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0px 10px 10px 10px;
    padding: 1.5em;
    border: 2px solid #352f44;
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #312c3f;
    font-size: 19px;
    font-weight: bold;
}

input,
textarea,
select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: grey;
}


.submit-button {
    background-color: #352f44 !important;
}

.btn:hover {
    animation: pulse 1s;
    transition: .3s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}